{
  "env": {
    "es6": true,
    "browser": true,
    "node": true
  },
  "parser": "babel-eslint",
  "parserOptions": {
    "allowImportExportEverywhere": true,
    "ecmaVersion": 6,
    "sourceType": "module",
    "ecmaFeatures": {
      "jsx": true
    }
  },
  "extends": [
    "airbnb"
  ],
  "rules": {
    "indent": [
      "error",
      "tab"
    ],
    "no-tabs": "off",
    "no-underscore-dangle": "off",
    "no-undef": "off",
    "no-console": "off",
    "react/jsx-indent": [
      "error",
      "tab"
    ],
    "react/jsx-indent-props": [
      "error",
      "tab"
    ],
    "react/react-in-jsx-scope": "off",
    "react/prefer-es6-class": "off",
    "react/prefer-stateless-function": "off",
    "react/jsx-no-undef": "off",
    "react/jsx-no-bind": "off",
    "react/no-string-refs": "off",
    "react/forbid-prop-types": "off",
    "react/jsx-filename-extension": "off",
    "jsx-a11y/label-has-for": "off",
    "jsx-a11y/no-static-element-interactions": "off",
    "new-cap": [
      "error",
      {
        "capIsNewExceptions":
          [
            "Match", "Maybe", "OpenSeadragon", "OneOf"
          ]
      }
    ],
    "import/no-extraneous-dependencies": "off",
    "object-curly-spacing": "off",
    "no-multiple-empty-lines": "off",
    "comma-dangle": "off",
    "meteor/no-session": "off",
    "no-trailing-spaces": "off",
    "space-before-function-paren": "off",
    "prefer-arrow-callback": "off",
    "max-len": "off",
    "jsx-a11y/anchor-has-content": "off",
    "no-bitwise": "off",
    "padded-blocks": "off"
  }
}
